body {
    border: 5px solid black;
    width: 500px;
    margin: auto;
    padding: 50px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
}

html {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
